.shape {
  fill-opacity: 0.3;
}

.group-point-shape:hover {
  fill: red;
  fill-opacity: 0.8;
  z-index: 100;
}
.shape:hover {
  fill-opacity: 0.8;
  z-index: 100;

  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

p {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;

  position: relative;
  top: -30px;
  margin: 50% 0 0 0;
}
