.shape {
  fill-opacity: 0.3;
}

.main {
  cursor: default;
}

.group-point-shape:hover {
  fill-opacity: 0.4;
  z-index: 100;
}
.shape:hover {
  fill-opacity: 0.8;
  z-index: 100;

  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

.tooltip-rect {
  width: 400px;
  height: 400px;
  fill: #69c;
  opacity: 0.5;
}

.tooltip {
  position: absolute;
  display: inline-block;
}

.tooltip-content {
  display: inline-table;
  // font-size: @fontSize;
  color: white;
  text-shadow: #333333 0 0 4px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;

  dl {
    display: table-row;
  }

  dt,
  dd {
    display: table-cell;
    text-align: left;
  }

  dd {
    font-weight: bold;
  }
}
