*.tmp
*.idea
*.vscode
node_modules
dist
reactCircleCard/webpack.statistics.dev.html

reactCircleCard/webpack.statistics.prod.html
doughnutchart/webpack.statistics.prod.html
doughnutchart/webpack.statistics.dev.html
doughnutchart/package-lock.json
